.git
.gitignore

**/node_modules
**/.venv
**/.next
**/out

**/__pycache__
**/*.py[cod]
**/*.egg-info
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.uv

forecast/data/cache
.huggingface
.cache
.env
.env.*
.DS_Store
*.pt
*.safetensors
